    <div class="cover black" data-color="black"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            LittleBit Pass
        </h1>
        <br><br>
        <div class="content">        	
            <div class="search">                
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form">
                          <div class="form-group">                            
                            <input type="email" class="form-control transparent" placeholder="Search a password...">
                          </div>
                          <button type="submit" class="btn btn-danger btn-fill">Search</button>
                        </form>
                    </div>
                </div>
            </div>
         </div>              
    </div>